.payment-method {
    &-upi, &-card {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        button {
            width: 100%;
        }
    }
}